@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100%;
    transition: background-color 0.3s linear;
}
.logo{
    text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}
.logo-text{
    font-size: 50px;
    padding: 4vh;
}
.tip{
    font-size: 25px;
}
.container{
    text-align: center;
    background-color: white;
    width: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}
.currentColorText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    font-size: 35px;
}
#shuffle{
    background-color: transparent;
    border:2px solid black;
    border-radius: 20px;
    margin:3vh;
    padding: 1.5vh 10vh;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
#colorTextRGB,
#colorTextHEX,
#colorTextHSL{
    margin:10px;
    cursor: pointer;
}
#info{
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
    padding: 30px 60px;
    border-radius: 2em;
    text-align: center;
    position:absolute;
    transform: translateY();
    bottom: 0;
    left:50%;
    transform: translate(-50%, -50%);
    cursor: default;
}
.anim-in{
    animation: pop-in 1s ease-in-out forwards;
}
.anim-out{
    animation: pop-out 1s ease-in-out forwards;
}
@keyframes pop-in {
    100%{
        opacity: 1;
        bottom: 5%;
        transform: translate(-50%, -50%);
    }
    0%{
        opacity: 0;
        bottom: 0;
        transform: translate(-50%, -50%);
    }
}
@keyframes pop-out {
    100%{
        opacity: 0;
        bottom: 0%;
        transform: translate(-50%, -50%);
    }
    0%{
        opacity: 1;
        bottom: 5%;
        transform: translate(-50%, -50%);
    }
}